<strong>Olá, {{ promoter }}</strong>
<p>Um novo usuário se inscreveu em seu meetup:</p>
<p>
  <strong>Usuário: </strong> {{ user_name }} <br />
  <strong>E-mail: </strong> {{ user_email }} <br />
  <strong>Meetup: </strong> {{ meetup }} <br />
</p>
